<div class="row" ng-init="randomize()">
    <!--<div class="col-lg-6 col-sm-12">-->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-4">
            <label for="ex1">Equation</label>
          <table class="table table-responsive table-condensed" id="tablefunction">
              
            <tr ng-repeat="set in equation track by $index">
              <td>
              
              </td>
              <td class="input-group">
                <span class="input-group-btn">
                  <button type="button"class="btn btn-warning form-control" ng-click="remove($index)"><span class="glyphicon glyphicon-remove-circle col-xs-2" aria-hidden="true"></span></button>
                 </span>
                <input class="form-control" type="text" placeholder="f(y)" ng-model="equation[$index]">
              </td>
            </tr>
          </table>
          </div>
              <div class="col-xs-2">
                <label for="ex1">Variable</label>
                <input class="form-control" type="text" placeholder="{{variable}}" readonly>
              </div>
             <div class="col-xs-2">
                <label for="ex2">minValue</label>
                <input class="form-control" id="ex2" type="text" placeholder="0" ng-model="xmin">
              </div>
              <div class="col-xs-2">
                <label for="ex3">maxValue</label>
                <input class="form-control" id="ex2" type="text" placeholder="10" ng-model="xmax">
              </div>
              <div class="col-xs-2">
                <label for="ex3">Precision</label>
                <input class="form-control" id="ex3" type="text" placeholder="10" ng-model="precision">
              </div>
        </div>
        <div class="panel-footer">
          <div>
                <button type="button"class="btn btn-warning btn-sm text-left" ng-click="update()">Draw</button>
                <button type="button"class="btn btn-info btn-sm text-left" ng-click="add()">Add</button>
              </div>
          </div>
      </div>
    </div>
    <div>
      <div class="panel panel-default">
        <div class="panel-heading text-left"> <a href="#" ng-click="isCollapsedG=!isCollapsedG"><b>Graph</b></a> </div>
        <div class="panel-body" collapse="isCollapsedG">
          <canvas id="tables" class="chart chart-line" data="data" labels="labels" options="optionsChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading text-left"> <a href="#" ng-click="isCollapsed=!isCollapsed"><b>Function data</b></a> </div>
    <div class="panel-body" collapse="isCollapsed">
      
    <div class="table-responsive">
    <table class="table table-responsive table-condensed" id="tabledata">
            <tr>
              <th id="tabledataheader"> {{variable}} </th>
              <td ng-repeat="set in labels track by $index" id="tabledata">{{labels[$index]}}</td>
            </tr>
            <tr ng-repeat="dataSet in data">
              <th id="tabledataheader"> f({{variable}}) </th>
              <td ng-repeat="set in dataSet track by $index" id="tabledata"><span style="text-align: right;">{{data[$parent.$index][$index]}}</span></td>
            </tr>
          </table>
    </div>
    </div>
    </div>

  </div>